---
layout: default
---

<nav>
  {% comment %}
  Use the baseurl as a prefix for each link in the navigation data.
  Apply highlight formatting if the URL matches the current page.
  {% endcomment %}

  {% for item in site.data.navigation %}
  <a href="{{ item.link | relative_url }}" {% if item.link == page.url %}class="current" {% endif %}>
      {{ item.name }}
  </a>
  {% endfor %}
</nav>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>